#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export DOMAIN="$(get_custom_field 'k8s - localai' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - localai' 'UPTIME_ENDPOINT')
export OPENAI_API_KEY=$(get_custom_field 'k8s - localai' 'OPENAI_API_KEY')
export LOCALAI_API_KEY=$(get_custom_field 'k8s - localai' 'LOCALAI_API_KEY')
