#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'enkidu')"

export DOMAIN="$(get_custom_field 'rssbridge' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'rssbridge' 'UPTIME_ENDPOINT')
export IP_WHITELIST=$(get_custom_field 'rssbridge' 'IP_WHITELIST')
export PASSWORD=$(get_custom_field 'rssbridge' 'PASSWORD')
