#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export DOMAIN="$(get_custom_field 'k8s - rssbridge' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - rssbridge' 'UPTIME_ENDPOINT')
export IP_WHITELIST=$(get_custom_field 'k8s - rssbridge' 'IP_WHITELIST')
export PASSWORD=$(get_custom_field 'k8s - rssbridge' 'PASSWORD')
export DENNIKN_AUTH_COOKIE=$(get_custom_field 'k8s - rssbridge' 'DENNIKN_AUTH_COOKIE')
