#!/bin/sh
source ../../helpers/bitwarden.sh

export SERVER_IP="$(get_custom_field 'enkidu' 'SERVER_IP')"
export SERVER_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export CHROOT_PORT="$(get_custom_field 'enkidu' 'CHROOT_PORT')"
export ENCRYPTION_PASSPHRASE="$(get_custom_field 'enkidu' 'ENCRYPTION_PASSPHRASE')"
export HOSTNAME="$(get_custom_field 'enkidu' 'HOSTNAME')"
export TIMEZONE="$(get_custom_field 'enkidu' 'TIMEZONE')"
export AUTHORIZED_KEY="$(get_custom_field 'mbp - ssh' 'AUTHORIZED_KEY')"
export USER_NAME="$(get_username 'enkidu')"
export USER_PASSWORD="$(get_password 'enkidu')"
