#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export DOMAIN="$(get_custom_field 'k8s - audiobookshelf' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - audiobookshelf' 'UPTIME_ENDPOINT')
export IP_WHITELIST=$(get_custom_field 'k8s - audiobookshelf' 'IP_WHITELIST')
export AUDIOBOOKS_PATH=$(get_custom_field 'k8s - audiobookshelf' 'AUDIOBOOKS_PATH')
export PODCASTS_PATH=$(get_custom_field 'k8s - audiobookshelf' 'PODCASTS_PATH')
