#######################
# K8S App Data Backup #
#######################

[rpool/{{ datasets[0].name }}]
  use_template = daily

[{{ backup_dataset }}]
  use_template = daily
  autosnap = no
  autoprune = yes

#############
# Templates #
#############

[template_daily]
  hourly = 0
  daily = 30
  monthly = 6
  yearly = 0
  recursive = yes
  autosnap = yes
  autoprune = yes
