[Unit]
Description=Runs syncoid
Wants=syncoid.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/syncoid --sendoptions="w" --recursive rpool/{{ datasets[0].name }} {{ backup_dataset }}/{{ datasets[0].name }}

[Install]
WantedBy=multi-user.target
