name: vaultwarden
namespace: vaultwarden
image: vaultwarden/server
tag: latest

securityContext:
  runAsNonRoot: true
  runAsUser: {{ vaultwarden_uid.stdout }}
  fsGroup: {{ vaultwarden_gid.stdout }}

resources:
  limits:
    cpu: 300m
    memory: 1Gi
  requests:
    cpu: 50m
    memory: 256Mi

network:
  service_port_http: 8000
  service_port_websocket: 8001

storage:
  node_name: {{ ansible_hostname }}
  path: {{ kube_app_data }}/vaultwarden

env:
  websocket_enabled: "true"
  signups_allowed: "false"
  domain: {{ domain }}
  smtp_host: {{ smtp_host }}
  smtp_from: {{ smtp_from }}
  smtp_port: {{ smtp_port }}
  smtp_ssl: "true"
  smtp_security: "force_tls"
  smtp_username: {{ smtp_username }}
  smtp_password: {{ smtp_password }}
  admin_token: {{ admin_token }}
