#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export DOMAIN="$(get_custom_field 'k8s - vaultwarden' 'DOMAIN')"
export SMTP_HOST="$(get_custom_field 'k8s - vaultwarden' 'SMTP_HOST')"
export SMTP_FROM="$(get_custom_field 'k8s - vaultwarden' 'SMTP_FROM')"
export SMTP_PORT="$(get_custom_field 'k8s - vaultwarden' 'SMTP_PORT')"
export SMTP_USERNAME="$(get_custom_field 'k8s - vaultwarden' 'SMTP_USERNAME')"
export SMTP_PASSWORD="$(get_custom_field 'k8s - vaultwarden' 'SMTP_PASSWORD')"
export ADMIN_TOKEN="$(get_custom_field 'k8s - vaultwarden' 'ADMIN_TOKEN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - vaultwarden' 'UPTIME_ENDPOINT')
