#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'enkidu')"

export DOMAIN="$(get_custom_field 'vaultwarden' 'DOMAIN')"
export SMTP_HOST="$(get_custom_field 'vaultwarden' 'SMTP_HOST')"
export SMTP_FROM="$(get_custom_field 'vaultwarden' 'SMTP_FROM')"
export SMTP_PORT="$(get_custom_field 'vaultwarden' 'SMTP_PORT')"
export SMTP_USERNAME="$(get_custom_field 'vaultwarden' 'SMTP_USERNAME')"
export SMTP_PASSWORD="$(get_custom_field 'vaultwarden' 'SMTP_PASSWORD')"
export ADMIN_TOKEN="$(get_custom_field 'vaultwarden' 'ADMIN_TOKEN')"
