#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'enkidu')"

export DOMAIN="$(get_custom_field 'photoprism' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'photoprism' 'UPTIME_ENDPOINT')

export PHOTOS_PATH=$(get_custom_field 'photoprism' 'PHOTOS_PATH')
export MARIADB_AUTO_UPGRADE=$(get_custom_field 'photoprism' 'MARIADB_AUTO_UPGRADE')
export MARIADB_INITDB_SKIP_TZINFO=$(get_custom_field 'photoprism' 'MARIADB_INITDB_SKIP_TZINFO')
export MARIADB_DATABASE=$(get_custom_field 'photoprism' 'MARIADB_DATABASE')
export MARIADB_USER=$(get_custom_field 'photoprism' 'MARIADB_USER')
export MARIADB_PASSWORD=$(get_custom_field 'photoprism' 'MARIADB_PASSWORD')
export MARIADB_ROOT_PASSWORD=$(get_custom_field 'photoprism' 'MARIADB_ROOT_PASSWORD')
export PHOTOPRISM_ADMIN_PASSWORD=$(get_custom_field 'photoprism' 'PHOTOPRISM_ADMIN_PASSWORD')
export PHOTOPRISM_AUTH_MODE=$(get_custom_field 'photoprism' 'PHOTOPRISM_AUTH_MODE')
export PHOTOPRISM_SITE_URL=$(get_custom_field 'photoprism' 'PHOTOPRISM_SITE_URL')
export PHOTOPRISM_ORIGINALS_LIMIT=$(get_custom_field 'photoprism' 'PHOTOPRISM_ORIGINALS_LIMIT')
export PHOTOPRISM_HTTP_COMPRESSION=$(get_custom_field 'photoprism' 'PHOTOPRISM_HTTP_COMPRESSION')
export PHOTOPRISM_WORKERS=$(get_custom_field 'photoprism' 'PHOTOPRISM_WORKERS')
export PHOTOPRISM_LOG_LEVEL=$(get_custom_field 'photoprism' 'PHOTOPRISM_LOG_LEVEL')
export PHOTOPRISM_READONLY=$(get_custom_field 'photoprism' 'PHOTOPRISM_READONLY')
export PHOTOPRISM_EXPERIMENTAL=$(get_custom_field 'photoprism' 'PHOTOPRISM_EXPERIMENTAL')
export PHOTOPRISM_DISABLE_CHOWN=$(get_custom_field 'photoprism' 'PHOTOPRISM_DISABLE_CHOWN')
export PHOTOPRISM_DISABLE_WEBDAV=$(get_custom_field 'photoprism' 'PHOTOPRISM_DISABLE_WEBDAV')
export PHOTOPRISM_DISABLE_SETTINGS=$(get_custom_field 'photoprism' 'PHOTOPRISM_DISABLE_SETTINGS')
export PHOTOPRISM_DISABLE_TENSORFLOW=$(get_custom_field 'photoprism' 'PHOTOPRISM_DISABLE_TENSORFLOW')
export PHOTOPRISM_DISABLE_FACES=$(get_custom_field 'photoprism' 'PHOTOPRISM_DISABLE_FACES')
export PHOTOPRISM_DISABLE_CLASSIFICATION=$(get_custom_field 'photoprism' 'PHOTOPRISM_DISABLE_CLASSIFICATION')
export PHOTOPRISM_DISABLE_RAW=$(get_custom_field 'photoprism' 'PHOTOPRISM_DISABLE_RAW')
export PHOTOPRISM_RAW_PRESETS=$(get_custom_field 'photoprism' 'PHOTOPRISM_RAW_PRESETS')
export PHOTOPRISM_JPEG_QUALITY=$(get_custom_field 'photoprism' 'PHOTOPRISM_JPEG_QUALITY')
export PHOTOPRISM_DETECT_NSFW=$(get_custom_field 'photoprism' 'PHOTOPRISM_DETECT_NSFW')
export PHOTOPRISM_UPLOAD_NSFW=$(get_custom_field 'photoprism' 'PHOTOPRISM_UPLOAD_NSFW')
export PHOTOPRISM_DATABASE_DRIVER=$(get_custom_field 'photoprism' 'PHOTOPRISM_DATABASE_DRIVER')
export PHOTOPRISM_SITE_CAPTION=$(get_custom_field 'photoprism' 'PHOTOPRISM_SITE_CAPTION')
export PHOTOPRISM_SITE_DESCRIPTION=$(get_custom_field 'photoprism' 'PHOTOPRISM_SITE_DESCRIPTION')
export PHOTOPRISM_SITE_AUTHOR=$(get_custom_field 'photoprism' 'PHOTOPRISM_SITE_AUTHOR')
export PHOTOPRISM_SPONSOR=$(get_custom_field 'photoprism' 'PHOTOPRISM_SPONSOR')
