menu:
  file:
    Standard:
      dir: /output/
      resolution: 300
      width: 210
      height: 297
      uid: {{ paperless_uid.stdout }}
      gid: {{ paperless_gid.stdout }}
    ADF:
      dir: /output/
      resolution: 300
      width: 210
      height: 297
      adf: true
      uid: {{ paperless_uid.stdout }}
      gid: {{ paperless_gid.stdout }}
