#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export CLOUDFLARE_API_TOKEN="$(get_custom_field 'k8s - k3s' 'CLOUDFLARE_API_TOKEN')"
export CLOUDFLARE_EMAIL="$(get_custom_field 'k8s - k3s' 'CLOUDFLARE_EMAIL')"
export LETSENCRYPT_EMAIL="$(get_custom_field 'k8s - k3s' 'LETSENCRYPT_EMAIL')"
export CERTIFICATE_DOMAIN="$(get_custom_field 'k8s - k3s' 'CERTIFICATE_DOMAIN')"
