#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'enkidu')"

export MUSIC_PATH=$(get_custom_field 'k8s - beets' 'MUSIC_PATH')
export DOWNLOADS_PATH=$(get_custom_field 'k8s - beets' 'DOWNLOADS_PATH')
