#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export DOMAIN="$(get_custom_field 'k8s - obsidian-livesync' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - obsidian-livesync' 'UPTIME_ENDPOINT')
export IP_WHITELIST=$(get_custom_field 'k8s - obsidian-livesync' 'IP_WHITELIST')
export COUCHDB_USER=$(get_custom_field 'k8s - obsidian-livesync' 'COUCHDB_USER')
export COUCHDB_PASSWORD=$(get_custom_field 'k8s - obsidian-livesync' 'COUCHDB_PASSWORD')
