#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'enkidu')"

export DOMAIN="$(get_custom_field 'jellyfin' 'DOMAIN')"
export MEDIA_PATH=$(get_custom_field 'jellyfin' 'MEDIA_PATH')
export UPTIME_ENDPOINT=$(get_custom_field 'jellyfin' 'UPTIME_ENDPOINT')
