#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export HOMEASSISTANT_DOMAIN="$(get_custom_field 'k8s - homeassistant' 'HOMEASSISTANT_DOMAIN')"
export ZIGBEE2MQTT_DOMAIN=$(get_custom_field 'k8s - homeassistant' 'ZIGBEE2MQTT_DOMAIN')
export HOMEASSISTANT_UPTIME_ENDPOINT=$(get_custom_field 'k8s - homeassistant' 'HOMEASSISTANT_UPTIME_ENDPOINT')
export ZIGBEE2MQTT_UPTIME_ENDPOINT=$(get_custom_field 'k8s - homeassistant' 'ZIGBEE2MQTT_UPTIME_ENDPOINT')
export IP_WHITELIST=$(get_custom_field 'k8s - homeassistant' 'IP_WHITELIST')
export TZ=$(get_custom_field 'k8s - homeassistant' 'TZ')
export ZIGBEE_STICK_DEV_PATH=$(get_custom_field 'k8s - homeassistant' 'ZIGBEE_STICK_DEV_PATH')
export ZIGBEE2MQTT_PASSWWORD=$(get_custom_field 'k8s - homeassistant' 'ZIGBEE2MQTT_PASSWWORD')
