#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'enkidu')"

export DOMAIN="$(get_custom_field 'k8s - miniflux' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - miniflux' 'UPTIME_ENDPOINT')
export IP_WHITELIST=$(get_custom_field 'k8s - miniflux' 'IP_WHITELIST')

export POSTGRES_DB="$(get_custom_field 'k8s - miniflux' 'POSTGRES_DB')"
export POSTGRES_USER="$(get_custom_field 'k8s - miniflux' 'POSTGRES_USER')"
export POSTGRES_PASSWORD="$(get_custom_field 'k8s - miniflux' 'POSTGRES_PASSWORD')"
