#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'enkidu')"

export PUSHOVER_APP_KEY="$(get_custom_field 'enkidu' 'PUSHOVER_APP_KEY')"
export PUSHOVER_API_KEY="$(get_custom_field 'enkidu' 'PUSHOVER_API_KEY')"
