#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export DOMAIN="$(get_custom_field 'k8s - wallabag' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - wallabag' 'UPTIME_ENDPOINT')
export IP_WHITELIST=$(get_custom_field 'k8s - wallabag' 'IP_WHITELIST')

export POSTGRES_DB="$(get_custom_field 'k8s - wallabag' 'POSTGRES_DB')"
export POSTGRES_USER="$(get_custom_field 'k8s - wallabag' 'POSTGRES_USER')"
export POSTGRES_PASSWORD="$(get_custom_field 'k8s - wallabag' 'POSTGRES_PASSWORD')"

export WALLABAG_SECRET="$(get_custom_field 'k8s - wallabag' 'WALLABAG_SECRET')"
export WALLABAG_MAILER_DSN="$(get_custom_field 'k8s - wallabag' 'WALLABAG_MAILER_DSN')"
export WALLABAG_FROM_EMAIL="$(get_custom_field 'k8s - wallabag' 'WALLABAG_FROM_EMAIL')"
