#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'server setup - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'server setup - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'server setup - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'server setup - enkidu')"
