#!/bin/sh
export BW_SESSION=$(bw unlock --raw)
[ -z "$BW_SESSION" ] && exit 1
BW_COMMAND="bw --session $BW_SESSION"
unset BW_SESSION

export ANSIBLE_HOST="XXX.XXX.XXX.XXX"
export ANSIBLE_PORT="22"
export ANSIBLE_USER="user"
export ANSIBLE_SUDO_PASS="password"

export CLOUDFLARE_API_TOKEN="xxx"
export CLOUDFLARE_EMAIL="name@domain.tld"
export LETSENCRYPT_EMAIL="name@domain.tld"
export CERTIFICATE_DOMAIN="domain.tld"
