#!/bin/sh
source ../../helpers/bitwarden.sh

export ANSIBLE_HOST="$(get_custom_field 'k8s - enkidu' 'SERVER_IP')"
export ANSIBLE_PORT="$(get_custom_field 'k8s - enkidu' 'SERVER_PORT')"
export ANSIBLE_USER="$(get_username 'k8s - enkidu')"
export ANSIBLE_SUDO_PASS="$(get_password 'k8s - enkidu')"

export DOMAIN="$(get_custom_field 'k8s - paperless' 'DOMAIN')"
export UPTIME_ENDPOINT=$(get_custom_field 'k8s - paperless' 'UPTIME_ENDPOINT')

export SMTP_HOST="$(get_custom_field 'k8s - paperless' 'SMTP_HOST')"
export SMTP_PORT="$(get_custom_field 'k8s - paperless' 'SMTP_PORT')"
export SMTP_USERNAME="$(get_custom_field 'k8s - paperless' 'SMTP_USERNAME')"
export SMTP_PASSWORD="$(get_custom_field 'k8s - paperless' 'SMTP_PASSWORD')"

export POSTGRES_DB="$(get_custom_field 'k8s - paperless' 'POSTGRES_DB')"
export POSTGRES_USER="$(get_custom_field 'k8s - paperless' 'POSTGRES_USER')"
export POSTGRES_PASSWORD="$(get_custom_field 'k8s - paperless' 'POSTGRES_PASSWORD')"

export BRSCAN_IMAGE_REPOSITORY="$(get_custom_field 'k8s - paperless' 'BRSCAN_IMAGE_REPOSITORY')"
export SCANNER_MODEL="$(get_custom_field 'k8s - paperless' 'SCANNER_MODEL')"
export SCANNER_IP="$(get_custom_field 'k8s - paperless' 'SCANNER_IP')"
export SCANNER_HEX_CODE="$(get_custom_field 'k8s - paperless' 'SCANNER_HEX_CODE')"
export ADVERTISE_IP="$(get_custom_field 'k8s - paperless' 'ADVERTISE_IP')"
